* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-light: #F2E9E4;
    --color-pink: #C9ADA7;
    --color-gray: #9A8C98;
    --color-light-blue: #4A4E69;
    --color-dark-blue: #22223B;
}

body {
    font-size: 62.5%;
    font-family: "Montserrat", sans-serif;
    background-color: var(--color-gray);
  }


@import "components/header";
@import "components/navbar";
@import "components/aside";
@import "components/main";
@import "components/footer";
@import "components/alert";
@import "components/breadcrumb";


@import "variables";
@import "media-queries";