// HEADER

.header__container {
    position: sticky;
    top: .1px;
    z-index: 100;

    .search__container {
        background: var(--color-pink);
    
        .fa-search {
            transition: transform .5s;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}
